/* PAGE D'ACCUEIL */
article {
  position: relative;
  padding-bottom: 40px;
}
.en-savoir-plus {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 1.2em;
  font-weight: bold;
}
.en-savoir-plus a {
  color: var(--en-savoir-plus);
}
.en-savoir-plus:hover {
  color: var(--black-light-color);
}

.rdv-section {
  background-color: var(--header-bg);
  padding: 0 0 25px;
}

.rdv-section p {
  padding: 5px 0;
}

.rdv-section .dispo {
  display: flex;
  justify-content: center;
}
.rdv-section .dispo .jour {
  font-weight: bolder;
  margin: 0 20px;
}
.rdv-section .dispo .jour p {
  max-width: none;
}

.trois-articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.trois-articles article:first-child {
  background-color: var(--accueil-enfant-ado-bg);
}
.trois-articles article:nth-child(2) {
  background-color: var(--nav-bg);
}

.trois-articles article:nth-child(3) {
  background-color: var(--accueil-adulte-bg);
}

.me-connaitre {
  padding: 30px;
  background-color: var(--header-bg);
}

.me-connaitre article {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 20px auto;
  align-items: center;
}
.me-connaitre h2 {
  font-family: "Oooh Baby", cursive;
  font-weight: lighter;
  font-size: 2.3em;
}
.me-connaitre h3 {
  font-family: "Oxygen", sans-serif;
  font-style: italic;
  font-weight: lighter;
}
.me-connaitre p {
  padding: 10px;
}
.me-connaitre p:nth-child(3) {
  text-align: end;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-light-color);
  color: var(--beige-color);
  padding: 10px;
  height: 450px;
}
.contact * {
  color: var(--beige-color);
}
.contact article {
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.contact .map {
  width: 60%;
  height: 80%;
}
.contact article li {
  padding: 3px;
}
.contact article li a {
  font-size: 1.2em;
}

.map article {
  padding: 0;
  height: 300px;
}

.map iframe {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 1030px) {
  .container-p-img img {
    margin-right: 0;
  }

  .contact {
    flex-direction: column;
    height: auto;
  }
  .contact .map {
    width: 100%;
    height: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .accueil-1 {
    width: 90%;
    height: auto;
  }
  .carousell-container .quoteContainer {
    width: 100%;
  }
  .trois-articles {
    display: flex;
    flex-direction: column;
  }
  .me-connaitre article img {
    display: none;
  }
}
