/* PAGE D'ACCUEIL */
article {
  position: relative;
  padding-bottom: 40px;
}
.en-savoir-plus {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 1.2em;
  font-weight: bold;
}
.en-savoir-plus a {
  color: var(--green-color);
}
.en-savoir-plus:hover {
  color: var(--black-light-color);
}

/*    */
.carousell-container {
  position: relative;
  height: 190px;
}
.carousell-container img:first-child {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.2;
}
.carousell-container .quoteContainer {
  opacity: 0;
  transition: opacity 2s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: italic;
  font-size: larger;
  margin: 0;
}

.rdv-section {
  background-color: var(--beige-color);
  padding: 0 0 25px;
}

.rdv-section p {
  padding: 5px 0;
  font-size: large;
}

.rdv-section .dispo {
  display: flex;
  justify-content: center;
}
.rdv-section .dispo .jour {
  font-weight: bolder;
  margin: 0 20px;
}
.rdv-en-ligne {
  background-color: var(--green-color);
  color: white;
  font-style: italic;

  padding: 0 25px 5px 25px;
  border-radius: 20px;
}
.rdv-en-ligne:hover {
  color: var(--black-light-color);
}
.trois-articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.trois-articles article h3 {
  margin: 10px;
}

.trois-articles article:first-child {
  background-color: var(--beige-darker-color);
}
.trois-articles article:nth-child(2) {
  background-color: var(--green-clear-color);
}

.trois-articles article:nth-child(3) {
  background-color: var(--brown-color);
}

.me-connaitre {
  padding: 30px;
}

.me-connaitre article {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 20px auto;
  align-items: center;
}
.me-connaitre h2 {
  font-family: "Oooh Baby", cursive;
}
.me-connaitre p {
  padding: 10px;
}
.me-connaitre p:nth-child(3) {
  text-align: end;
}
.contact {
  background-color: var(--black-light-color);
  color: var(--beige-color);
  padding: 10px;
}
.contact * {
  color: var(--beige-color);
}
.contact article {
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.contact article h3 {
  font-size: larger;
}

/* .map  */

.map iframe {
  width: 100%;
  height: 300px;
}
@media only screen and (max-width: 1030px) {
  .container-p-img img {
    margin-right: 0;
  }
  .trois-articles {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .accueil-1 {
    width: 90%;
    height: auto;
  }
  .carousell-container .quoteContainer {
    width: 100%;
  }
  .me-connaitre article img {
    display: none;
  }
}
