header .nomEtContact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-bg);
  opacity: 0.8;
  padding: 0 10px;
}

header .nomEtContact .containerNom {
  opacity: 0;
  animation: fadein 2s forwards;
  animation-delay: 1s;
}
header .nomEtContact .containerNom h2 {
  font-weight: inherit;
  font-size: 35px;
}
header .nomEtContact .containerNom h3 {
  font-weight: inherit;
  font-size: 25px;
  margin: 0;
}

header .nomEtContact img {
  padding: 5px;
  width: 190px;
  opacity: 0;
  animation: fadein 2s forwards;
  animation-delay: 10ms;
}

header .nomEtContact .etContact {
  opacity: 0;
  animation: fadein 2s forwards;
  animation-delay: 2s;
  display: flex;
  flex-direction: column;
  align-items: end;
}

header .nomEtContact .etContact > * {
  display: flex;
  align-items: center;
}
/* le a et le logo */
header .nomEtContact .etContact a {
  font-size: 1.5em;
  font-family: "Oxygen";
  font-weight: lighter;
}

header .nomEtContact .etContact span {
  padding: 5px;
}
header .nomEtContact .etContact .adresse1 img,
header .nomEtContact .etContact .adresse2 img {
  width: 25px;
}
header .nomEtContact .etContact img {
  width: 21px;
}

/* MEDIA Queries */
@media only screen and (max-width: 1160px) {
  header .nomEtContact .etContact img {
    display: none;
  }
  header .nomEtContact .etContact a {
    font-size: 1.3em;
  }
}
@media only screen and (max-width: 900px) {
  header .nomEtContact .etContact a {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 858px) {
  header .nomEtContact {
    flex-direction: column;
    padding: 15px;
  }
  header .nomEtContact img {
    display: none;
  }
  header .nomEtContact .etContact {
    display: none;
  }
  /*   header .nomEtContact .etContact {
    width: 100%;
    align-items: center;
  }
  header .nomEtContact .etContact a {
    font-size: 1.4em;
  } */
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translate(-50%);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
