header .nomEtContact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-bg);
  opacity: 0.8;
  padding: 0 10px;
}

header .nomEtContact .containerNom {
  opacity: 0;
  animation: fadein 2s forwards;
  animation-delay: 1s;
}
header .nomEtContact .containerNom h2 {
  font-weight: inherit;
  font-size: 35px;
}
header .nomEtContact .containerNom h3 {
  font-weight: inherit;
  font-size: 25px;
}

header .nomEtContact img {
  width: 190px;

  opacity: 0;
  animation: fadein 2s forwards;
  animation-delay: 10ms;
}

header .nomEtContact .etContact {
  opacity: 0;
  animation: fadein 2s forwards;
  animation-delay: 2s;
  display: flex;
  flex-direction: column;
  align-items: end;
}

/* le a et le logo */
header .nomEtContact .etContact a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

header .nomEtContact .etContact span {
  padding: 5px;
}

/* MEDIA Queries */
@media only screen and (max-width: 1160px) {
}

@media only screen and (max-width: 768px) {
  header .nomEtContact img {
    display: none;
  }
  header .nomEtContact {
    flex-direction: column;
  }
  .etContact {
    display: none;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translate(-50%);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
