body {
  background: var(--beige-to-green-gradient);
}

p {
  max-width: 80%;
  margin: 0 auto;
}
/* BUTTON TO GO TOP  */
#goTop {
  position: fixed;
  z-index: 999;
  right: 2%;
  top: 80%;
  transform: translateY(-50%);
  padding: 20px;
  background: white;
  border: none;
  opacity: 0;
  transition: opacity 0.4s linear;
  border-radius: 100%;
}
#goTop.is-visible {
  background-image: url("../assets/icons/goTop.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

/* ARRONDIR IMAGE */
.border-round {
  border-radius: 100%;
}

/* container P + IMG */
.container-p-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.container-p-img p {
  width: 60%;
}
.container-p-img img {
  max-height: 350px;
  width: 25%;
  margin-right: min(30px, 5%);
}

/* container LOGO + P */
.container-logo-p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 50px auto;
  padding: 10px;
}

.container-logo-p img {
  width: 125px;
  height: auto;
  margin: 30px;
}
.container-logo-p p {
  width: auto;
}

@media only screen and (max-width: 768px) {
  p {
    max-width: 98%;
    margin: 1%;
  }
  /* container P + IMG */

  .container-p-img {
    flex-direction: column;
  }
  .container-p-img p {
    width: auto;
  }
  .container-p-img img {
    width: 60%;
  }
  img {
    margin: 0;
    width: 60%;
    height: auto;
  }
  #goTop {
    top: 10%;
  }
}
