.nav-container {
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}
nav {
  background-color: var(--nav-bg);
}
.desktop-nav ul {
  display: flex;
  justify-content: space-around;
}
.desktop-nav ul li {
  position: relative; /* Position relative pour le parent */
  padding: 10px 0;
  width: 20%;
}

nav ul li a {
  color: var(--ecriture);
  font-weight: bolder;
  font-size: 20px;
}

.desktop-nav ul li a:hover {
  color: var(--brown-color);
}

/* DROP DOWN MENU  */
.dropDown {
  margin-top: 5px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  max-height: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  position: absolute;
  top: 100%;
  left: 20%;
  background: var(--nav-bg);
  z-index: 1;
  border-radius: 10px;
}
.desktop-nav ul li:hover > .dropDown {
  opacity: 1;
  max-height: 1000px;
}

.dropDown a {
  width: 150px;
  padding: 0;
  font-weight: lighter;
  padding: 5px;
}
.dropDown a:hover {
  color: var(--brown-color);
}

/* phone menu */
.menu-button {
  display: none;
}
.phone-nav {
  display: none;
}
/* END DROP DOWN MENU  */

/* MEDIA Queries */
@media only screen and (max-width: 1160px) {
}

@media only screen and (max-width: 768px) {
  .desktop-nav {
    display: none;
  }
  .menu-button {
    background-color: var(--nav-bg);
    color: var(--ecriture);
    height: 35px;
    display: block;
  }
  .menu-button .burger-menu {
    transition: transform 0.7s ease;
    font-size: xx-large;
    font-weight: bold;
  }
  .rotate-burger {
    transform: rotate(90deg);
  }

  .phone-nav {
    display: block;

    overflow: hidden;
    height: 0;
    transition: height 0.5s ease;
  }
  .phone-nav.active {
    height: 450px;
  }

  .phone-nav ul li a {
    font-size: 25px;
  }
}

@keyframes dropDownMenu {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
