@font-face {
  font-family: "Diphylleia";
  src: url("../assets/fonts/Diphylleia/Diphylleia-Regular.ttf")
    format("truetype");
  font-display: swap;
}

* {
  text-align: center;
  font-family: "Diphylleia";
}
html {
  scroll-behavior: smooth;
}
body,
h1,
h2,
h3 {
  margin: 0;
}

:root {
  --ecriture: #362f2d;
  --en-savoir-plus: #614e0f;
  --button-prendre-rdv: #5b6844;
  --header-bg: #f8f4e9;
  --nav-bg: #d8dac3;
  --accueil-enfant-ado-bg: #eadfbe;
  --accueil-adulte-bg: #cca895;
  /* page  */
  --enfant-bg: #f6f8d6;
  --adulte-bg: #f6e2e2;
  --soutien-parentalite-bg: #e2f6e7;
  --a-propos-bg-clair: #deedf7;
  --a-propos-bg-fonce: #c6dcef;
  --rdv-page-bg: #f8f4e9;
  --black-light-color: rgb(49, 48, 48);
  --brown-color: #cd9583;
  --beige-color: #f4f2e9;
}

.italic {
  font-style: italic;
}

article {
  padding: 50px;
  max-width: 1050px;
  margin: auto;
}
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  color: var(--ecriture);
}

li {
  font-size: 1.2em;
}
h1 {
  font-family: "Oooh Baby", cursive;
  font-size: 4em;
  font-weight: inherit;
  margin-bottom: -20px;
}
h2 {
  font-size: 2em;
}
h3 {
  color: var(--ecriture);
  font-size: 1.5em;
  margin: 10px;
}
h4 {
  font-size: 1.5em;
}
p {
  font-size: 1.2em;
  margin: 0 auto;
  max-width: 80%;
  font-family: "Oxygen", sans-serif;
  color: var(--ecriture);
  text-indent: 1em; /* ALINEA */
}
strong {
  font-family: "Oxygen", sans-serif;
}

/*    */
.carousell-container {
  position: relative;
  height: 190px;
}
.carousell-container img:first-child {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.carousell-container .quoteContainer {
  opacity: 1;
  transition: opacity 2s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: italic;
  font-size: larger;
  margin: 0;
}
.carousell-container .quoteContainer h3 {
  font-size: 1.2em;
}
.text-justify,
.text-justify * {
  text-align: justify;
}

.text-start * {
  text-align: start;
  text-indent: 0%;
}
.ligne {
  border-bottom: 2px black solid;
  max-width: 700px;
  margin: 0 auto;
}

.espace {
  margin: 15px;
}

/* PRENDRE RDV */
.container-rdv-en-ligne {
  margin: auto;
  padding: 20px 0 25px;
}
.rdv-en-ligne {
  background-color: var(--button-prendre-rdv);
  color: white;
  font-size: 1.2em;
  padding: 2px 25px 6px 25px;
  border-radius: 20px;
  margin: 10px 0;
}
.rdv-en-ligne:hover {
  color: var(--black-light-color);
}

/* EN SAVOIR PLUS */

.en-savoir-plus {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 1.2em;
  font-weight: bold;
}
.en-savoir-plus a {
  color: var(--en-savoir-plus);
  font-family: "Oxygen", sans-serif;
}
.en-savoir-plus:hover {
  color: var(--black-light-color);
}
/* BUTTON TO GO TOP  */
#goTop {
  position: fixed;
  z-index: 999;
  right: 2%;
  top: 80%;
  transform: translateY(-50%);
  border: none;
  opacity: 0;
  transition: opacity 0.4s linear;
  border-radius: 100%;
}
#goTop img {
  width: 38px;
  height: 38px;
}
#goTop.is-visible {
  opacity: 0.8;
}

/* ARRONDIR IMAGE */
.border-round {
  border-radius: 100%;
}

@media only screen and (max-width: 768px) {
  /* CAROUSELL */
  .carousell-container .quoteContainer {
    width: 100%;
    height: 100%;
  }
  .carousell-container .quoteContainer h3,
  .carousell-container .quoteContainer i {
    margin: 0;
    font-size: 1.3em;
  }
  article {
    padding: 50px 5px;
    margin: inherit;
  }
  article * {
    margin: 10px auto;
  }
  main p,
  main li {
    max-width: 95%;
    text-indent: 0;
  }
  main ul {
    padding-bottom: 20px;
  }
  img {
    margin: 0;
    width: 60%;
    height: auto;
  }
  #goTop {
    top: 10%;
  }
  .email a {
    word-wrap: break-word;
  }
}
