@font-face {
  font-family: "Diphylleia";
  src: url("../assets/fonts/Diphylleia/Diphylleia-Regular.ttf")
    format("truetype");
}

* {
  text-align: center;
  font-family: "Diphylleia";
}
html {
  scroll-behavior: smooth;
}
body,
h1,
h2,
h3 {
  margin: 0;
}

:root {
  --ecriture: #362f2d;
  --en-savoir-plus: #614e0f;
  --button-prendre-rdv: #7a9054;
  --text-color: black;
  --header-bg: #f8f4e9;
  --nav-bg: #d8dac3;
  --accueil-enfant-ado-bg: #eadfbe;
  --accueil-adulte-bg: #cca895;
  /* page  */
  --enfant-bg: #f6f8d6;
  --adulte-bg: #f6e2e2;
  --soutien-parentalite-bg: #e2f6e7;
  --a-propos-bg-clair: #deedf7;
  --a-propos-bg-fonce: #c6dcef;

  /* vieilles couleurs */
  --black-light-color: rgb(49, 48, 48);
  --green-color: #6e894a;
  --green-clear-color: #d6e0c8;
  --brown-color: #cd9583;
  --beige-color: #f4f2e9;
  --beige-darker-color: #d1c8a0;
  --beige-color-gradient: linear-gradient(
    rgba(213, 213, 227, 1) 0%,
    rgba(255, 249, 201, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  --beige-to-green-gradient: linear-gradient(
    rgba(255, 249, 201, 1) 0%,
    rgba(181, 201, 154, 1) 46%,
    rgba(255, 255, 255, 1) 100%
  );
  --orange-color: #ffc95f;
}

.italic {
  font-style: italic;
}
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  color: var(--text-color);
}

h1 {
  font-family: "Oooh Baby", cursive;
  font-size: 3.5em;
  font-weight: inherit;
  margin: -10px;
}
h2 {
  font-size: 2em;
}
h3 {
  color: var(--ecriture);
  font-size: 1.5em;
  margin: 10px;
}
h4 {
  font-size: 1.5em;
}
p {
  font-size: 1.2em;
  margin: 0 auto;
  max-width: 80%;
  font-family: "Oxygen", sans-serif;
  color: var(--ecriture);
}
/*    */
.carousell-container {
  position: relative;
  height: 190px;
}
.carousell-container img:first-child {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.2;
}
.carousell-container .quoteContainer {
  opacity: 0;
  transition: opacity 2s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: italic;
  font-size: larger;
  margin: 0;
}
.carousell-container .quoteContainer h3 {
  font-size: 1.2em;
}

/* PRENDRE RDV */
.container-rdv-en-ligne {
  margin: 15px auto;
}
.rdv-en-ligne {
  background-color: var(--button-prendre-rdv);
  color: white;
  font-weight: bold;
  padding: 0 25px 5px 25px;
  border-radius: 20px;
  margin: 10px 0;
}
.rdv-en-ligne:hover {
  color: var(--black-light-color);
}
/* BUTTON TO GO TOP  */
#goTop {
  position: fixed;
  z-index: 999;
  right: 2%;
  top: 80%;
  transform: translateY(-50%);
  padding: 20px;
  background: white;
  border: none;
  opacity: 0;
  transition: opacity 0.4s linear;
  border-radius: 100%;
}
#goTop.is-visible {
  background-image: url("../assets/icons/goTop.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

/* ARRONDIR IMAGE */
.border-round {
  border-radius: 100%;
}

@media only screen and (max-width: 768px) {
  article * {
    margin: 10px auto;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 2.2em;
  }
  h4 {
    font-size: 2em;
  }
  p {
    font-size: 1.8em;
  }
  img {
    margin: 0;
    width: 60%;
    height: auto;
  }
  #goTop {
    top: 10%;
  }
}
