@font-face {
  font-family: "Diphylleia";
  src: url("../assets/fonts/Diphylleia/Diphylleia-Regular.ttf")
    format("truetype");
}

* {
  text-align: center;
  font-family: "Diphylleia";
}
html {
  scroll-behavior: smooth;
}
body,
h1,
h2,
h3 {
  margin: 0;
}

:root {
  --text-color: black;
  --black-light-color: rgb(49, 48, 48);
  --green-color: #6e894a;
  --green-clear-color: #d6e0c8;
  --brown-color: #cd9583;
  --beige-color: #f4f2e9;
  --beige-darker-color: #d1c8a0;
  --beige-color-gradient: linear-gradient(
    rgba(213, 213, 227, 1) 0%,
    rgba(255, 249, 201, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  --beige-to-green-gradient: linear-gradient(
    rgba(255, 249, 201, 1) 0%,
    rgba(181, 201, 154, 1) 46%,
    rgba(255, 255, 255, 1) 100%
  );
  --orange-color: #ffc95f;
}

a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  color: var(--text-color);
}

body {
  background: var(--beige-to-green-gradient);
}

h1 {
  font-family: "Oooh Baby", cursive;
  font-size: 3.5em;
  font-weight: inherit;
  margin: -10px;
}
h2 {
  font-size: 2em;
}
p {
  max-width: 80%;
  margin: 0 auto;
  font-family: "Oxygen", sans-serif;
}
/* BUTTON TO GO TOP  */
#goTop {
  position: fixed;
  z-index: 999;
  right: 2%;
  top: 80%;
  transform: translateY(-50%);
  padding: 20px;
  background: white;
  border: none;
  opacity: 0;
  transition: opacity 0.4s linear;
  border-radius: 100%;
}
#goTop.is-visible {
  background-image: url("../assets/icons/goTop.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

/* ARRONDIR IMAGE */
.border-round {
  border-radius: 100%;
}

/* container P + IMG */
.container-p-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.container-p-img p {
  width: 60%;
}
.container-p-img img {
  max-height: 350px;
  width: 25%;
  margin-right: min(30px, 5%);
}

/* container LOGO + P */
.container-logo-p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 50px auto;
  padding: 10px;
}

.container-logo-p img {
  width: 125px;
  height: auto;
  margin: 30px;
}
.container-logo-p p {
  width: auto;
}

@media only screen and (max-width: 768px) {
  article * {
    margin: 10px auto;
    max-width: 90%;
    font-size: larger;
  }
  /* container P + IMG */

  .container-p-img {
    flex-direction: column;
  }
  .container-p-img p {
    width: auto;
  }
  .container-p-img img {
    width: 60%;
  }
  img {
    margin: 0;
    width: 60%;
    height: auto;
  }
  #goTop {
    top: 10%;
  }
}
