body {
  background-color: var(--adulte-bg);
}

article {
  max-width: 1050px;
  margin: auto;
  padding: 50px;
}
section p {
  text-align: justify;
  margin-bottom: 10px;
}
section h3 {
  margin-top: 0;
  margin-bottom: 30px;
}
section h4 {
  margin: 0;
}

.container-text-img,
.container-img-text {
  display: flex;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}
.container-text-img p {
  margin: 0;
  max-width: fit-content;
}
.text {
  margin: 10px 0;
}
.text * {
  text-align: start;
  font-family: "Oxygen", sans-serif;
}

/* text + img */
.container-text-img img {
  width: 230px;
  height: 230px;
}

.en-savoir-plus {
  position: inherit;
  font-size: 1em;
  font-weight: bold;
  max-width: 80%;
  margin: auto;
  text-align: end;
}

@media only screen and (max-width: 768px) {
  .container-text-img {
    flex-direction: column;
  }
  .container-text-img img {
    width: 100%;
    height: fit-content;
  }
}
