body {
  background-color: var(--enfant-bg);
}
article {
  padding: 20px 15%;
}

.ligne {
  border-bottom: 2px black solid;
  max-width: 500px;
  margin: 40px auto;
}

article:nth-child(1n) {
  background-color: var(--a-propos-bg-clair);
}
article:nth-child(2n) {
  background-color: var(--a-propos-bg-fonce);
}
.container-text-img,
.container-img-text {
  display: flex;
  align-items: center;
}
.container-img-text p {
  margin: auto;
  padding: 15px;
  max-width: fit-content;
  text-align: justify;
}

.container-img-text .text {
  width: 80%;
}
.container-img-text .img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
/* les images differentes des articles */
article:nth-child(2) .img {
  background-image: url("../../assets/img/Aproposdemoi/Aproposdemoi_waterdrop.jpg");
}
article:nth-child(3) .img {
  background-image: url("../../assets/img/Aproposdemoi/Aproposdemoi_Feuille.jpg");
}
article:nth-child(4) .img {
  background-image: url("../../assets/img/Aproposdemoi/Aproposdemoi_risingsunthroughtrees.jpg");
}
article:nth-child(5) .img {
  background-image: url("../../assets/img/Aproposdemoi/Aproposdemoi_japanesewavepaint.jpg");
}
article:nth-child(6) .img {
  background-image: url("../../assets/img/Aproposdemoi/Aproposdemoi_psychepaint.jpg");
}

.mon-parcours {
  background-image: url("../../assets/img/Aproposdemoi/aproposdemoi-fondformation.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.container-experiences-formations {
  display: flex;
}
.container-experiences-formations h4 {
  margin: 0 auto;
}
.container-experiences-formations .card-logo-text {
  background-color: white;
  margin: 0 5% 5% 5%;
  display: flex;
  align-items: center;
  height: 110px;
  padding: 10px;
}
.logo {
  width: 100px;
}
.container-experiences-formations .card-logo-text .text-card {
  width: 100%;
}
.container-experiences-formations .card-logo-text p {
  text-align: start;
}
/* formations */
.container-experiences-formations .card-logo-text-details {
  background-color: white;
  margin-bottom: 30px;
  padding-bottom: 5px;
}
.card-logo-text-details .card-logo-text {
  margin: 0;
  height: 90px;
}
.card-logo-text-details .details {
  margin-top: -20px;
}
.card-logo-text-details .details * {
  text-align: start;
  padding: 5px 10px;
}

@media only screen and (max-width: 768px) {
  .container-text-img,
  .container-img-text {
    flex-direction: column;
  }
  article {
    padding: 20px;
  }
  .card-logo-text * {
    font-size: inherit;
  }
  .container-experiences-formations {
    flex-direction: column;
  }
  .container-experiences-formations .card-logo-text-details {
    margin: 0 5% 5% 5%;
  }
}
