body {
  background-color: var(--enfant-bg);
}

article {
  max-width: 1050px;
  margin: auto;
}
p {
  text-align: justify;
  margin-bottom: 10px;
}
h3 {
  margin: 0;
  margin-bottom: 30px;
}
h4 {
  margin: 0;
}

.en-savoir-plus {
  position: inherit;
  font-size: 1.2em;
  text-align: end;
  max-width: 80%;
  margin: auto;
}
.container-img-text {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  margin: auto;
}
.article-with-list ul {
  margin: 15px 120px;
}
.article-with-list ul li {
  list-style-type: disc;
  text-align: justify;
}
.container-img-text * {
  font-family: "Oxygen", sans-serif;
}
.container-img-text .text p {
  max-width: 100%;
}
.container-img-text h4 {
  font-size: 1.2em;
}
.container-img-text img {
  max-height: 280px;
  max-width: 260px;
}

.container-img-text .img-zen {
  margin-right: 20px;
}
.container-img-text a {
  margin: 10px;
  text-decoration: underline;
  color: navy;
}
.container-img-text a:hover {
  text-decoration: none;
  color: rgb(43, 43, 239);
}
.container-img-text .text * {
  text-align: start;
}

@media only screen and (max-width: 768px) {
  .container-img-text {
    flex-direction: column;
    max-width: none;
  }
  .container-img-text .text p {
    max-width: 95%;
  }
}
